<h1>Create new Game review</h1>
<mat-divider></mat-divider>
<div class="container">
  <div class="creation">
    <app-create-component
      (gameCreated)="handleGameSearch($event)"
    ></app-create-component>
  </div>
  <div class="display">
    <mat-spinner *ngIf="loading" color="accent"></mat-spinner>

    <div *ngIf="possibleGames.length">
      <mat-grid-list cols="3" rowHeight="1:1">
        <mat-grid-tile *ngFor="let game of possibleGames">
          <app-selection-icon [game]="game"></app-selection-icon>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
  </div>
</div>
