<div class="header">
  <h1>All Games</h1>
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Filter by Review Score</mat-label>
      <mat-select [(value)]="scoreFilter">
        <mat-option value="0">None</mat-option>
        <ng-container *ngFor="let score of scores">
          <mat-option value="{{ score }}">{{ score }}</mat-option>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<app-game-grid
  [scoreFilter]="scoreFilter"
  [displayGames]="games"
></app-game-grid>
