@use "@angular/material" as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$blue-grey-palette);
$my-app-accent: mat.define-palette(mat.$amber-palette, 500, 900, A100);
$my-app-warn: mat.define-palette(mat.$deep-orange-palette);

$my-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-app-primary,
      accent: $my-app-accent,
      warn: $my-app-warn,
    ),
  )
);

// @include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);
