.review-display {
  padding: 20px 0;
}

.header-display {
  padding-bottom: 15px;
}

.paragraph-display {
  padding-bottom: 15px;
  padding-left: 10px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-size: 40px;
  margin: 0;
}

hr {
  border-top: 10px;
}
